.md-typeset .admonition-title {
	background: none !important;
}

.md-typeset .admonition {

	/* I'll admit it, this specific line of code was taken from Fusion's documentation.
	I wanted something similar to what they've done and didn't know how to do it, so I took it.
	Please forgive me. -Judash399 */
	background: linear-gradient(var(--admonition-color) -99999%, transparent 5000%), var(--background);
	border-width: 2px;
	border-radius: 6px;
	box-shadow: none;
}


/* these values are just the colors of each admonition type. */

.md-typeset .note {
	--admonition-color: #448aff;
}
.md-typeset .abstract {
	--admonition-color: #00b0ff;
}
.md-typeset .info {
	--admonition-color: #00b8d4;
}
.md-typeset .tip {
	--admonition-color: #00bfa5;
}
.md-typeset .success {
	--admonition-color: #00c853;
}
.md-typeset .question {
	--admonition-color: #64dd17;
}
.md-typeset .warning {
	--admonition-color: #ff9100;
}
.md-typeset .failure {
	--admonition-color: #ff5252;
}
.md-typeset .danger {
	--admonition-color: #ff1744;
}
.md-typeset .bug {
	--admonition-color: #f50057;
}
.md-typeset .example {
	--admonition-color: #7c4dff;
}
.md-typeset .quote {
	--admonition-color: #9e9e9e;
}