[data-md-color-scheme="slate"] {
    --h1: white;
    --h2: rgb(197, 197, 197);
    --h3: rgb(158, 158, 158);

    --text: white;

    --background: #1F2129;
}

[data-md-color-scheme="deault"] {
    --h1: black;
    --h2: rgb(31, 31, 31);
    --h3: rgb(80, 80, 80);

    --button-base: black;

    --text: black;
}