.md-typeset h1 {
    font-weight: bolder;
    color: var(--h1);
}

.md-typeset h2 {
    font-weight: bold;
    color: var(--h2);
}

.md-typeset h3 {
    font-weight: normal;
    color: var(--h3);
}

/* Prevents MkDocs from filling the icons and styling them weird. */
.mdc-icon, .md-icon, .md-icon svg {
    fill: none !important;
    stroke: currentColor;
    stroke-width: 2;
}

.md-typeset .emojione svg, .md-typeset .gemoji svg, .md-typeset .twemoji svg {
    fill: none !important;
}