.md-header {
	box-shadow:
		0 0 0.35rem .5rem var(--md-primary-fg-color) !important;
}

.md-search__form {
    background-color: var(--panel) !important;
    border-radius: 6px !important;
}

.md-search__input::placeholder {
    color: var(--md-primary-bg-color) !important;
}