[data-md-color-scheme="dark"] {
    --md-primary-fg-color: var(--md-default-bg-color);

    --md-typeset-a-color: rgb(255, 136, 0);
    --md-accent-fg-color: rgb(175, 93, 0);

    --md-default-bg-color: rgb(20, 20, 20);
    --md-typeset-color: rgb(209, 209, 209);
    --md-default-fg-color: rgb(209, 209, 209);
    --md-default-fg-color--light: rgb(209, 209, 209);
    --md-admonition-fg-color: rgb(209, 209, 209);

    /* Footer */
    --md-footer-bg-color: var(--md-default-bg-color);
    --md-footer-fg-color: var(--md-default-fg-color);
    --md-footer-bg-color--dark: var(--md-default-bg-color);
    --md-footer-fg-color--light: rgb(143, 143, 143);
    --md-footer-fg-color--lighter: rgb(102, 102, 102);

    /* Headings */
    --h1: rgb(209, 209, 209);
    --h2: rgb(160, 160, 160);
    --h3: rgb(100, 100, 100);

    /* Code */
    --md-code-bg-color: var(--panel);
    --md-code-fg-color: rgb(200, 200, 200);
    --md-code-hl-punctuation-color: rgb(150, 150, 150);
    --md-code-hl-function-color: rgb(221, 221, 221);
    --md-code-hl-variable-color: rgb(221, 221, 221);
    --md-code-hl-comment-color: rgb(140, 140, 140);
    --md-code-hl-keyword-color: rgb(248, 130, 51);
    --md-code-hl-string-color: rgb(228, 193, 78);
    --md-code-hl-number-color: rgb(228, 136, 83);
    --md-code-hl-name-color: rgb(223, 72, 52);
    --md-code-hl-operator-color: rgb(150, 150, 150);
    --md-code-hl-constant-color: rgb(180, 180, 180);

    --md-code-hl-color: rgb(255, 136, 0);
    --md-code-hl-color--light: rgb(77, 41, 0);

    /* Custom Values */
    --panel: rgb(30, 30, 30);
    --panel-hover: rgb(61, 61, 61);
}

[data-md-color-scheme="light"] {
    --md-typeset-a-color: rgb(175, 93, 0);
    --md-accent-fg-color: rgb(117, 63, 0);

    --md-primary-fg-color: var(--md-default-bg-color);
    --md-primary-bg-color: rgb(51, 51, 51);
    --md-default-bg-color: rgb(241, 241, 241);

    /* Footer */
    --md-footer-bg-color: var(--md-default-bg-color);
    --md-footer-fg-color: var(--md-default-fg-color);
    --md-footer-bg-color--dark: var(--md-default-bg-color);
    --md-footer-fg-color--light: rgb(134, 134, 134);
    --md-footer-fg-color--lighter: rgb(172, 172, 172);


    /* Code */
    --md-code-bg-color: var(--panel);
    --md-code-fg-color: rgb(30, 30, 30);

    --md-code-hl-punctuation-color: rgb(119, 119, 119);
    --md-code-hl-function-color: rgb(44, 44, 44);
    --md-code-hl-variable-color: rgb(44, 44, 44);
    --md-code-hl-comment-color: rgb(167, 167, 167);
    --md-code-hl-keyword-color: rgb(196, 93, 24);
    --md-code-hl-string-color: rgb(177, 143, 33);
    --md-code-hl-number-color: rgb(207, 113, 58);
    --md-code-hl-name-color: rgb(211, 74, 62);
    --md-code-hl-operator-color: rgb(119, 119, 119);
    --md-code-hl-constant-color: rgb(100, 100, 100);

    --md-code-hl-color: rgb(255, 136, 0);
    --md-code-hl-color--light: rgb(228, 209, 187);

     /* Custom Values */
    --panel: rgb(231, 231, 231);
    --panel-hover: rgb(199, 199, 199);
}